body {
    background-image: url('fon.png');
    background-size: cover; /* растягивает на весь экран */
    background-position: center; /* центрирует картинку */
    background-repeat: no-repeat; /* предотвращает повторение */
    background-attachment: fixed;
     /* фиксирует фон при прокрутке */
}
/* Внешний элемент */
.semi-circle-container {
  width: 50%;
  height: 25%;
  background-color: #ea6846;
  top:45%;
  left: 25%;
  position: fixed;
  display: flex;
  align-items: top;
  justify-content: top;
  color: white;
  font-family: Arial, sans-serif;
}

.semi-circle-container::before,
.semi-circle-container::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #ea6846;
  border-radius: 50%;
  z-index: -1;
}

.semi-circle-container::before {
  left: -12%;
  top: 0;
}

.semi-circle-container::after {
  right: -12%;
  top: 0;
}

.semi-circle-container.expanded {
    height: 39%;
    
}

.content {
  z-index: 1;
  color: #f5f1ee;
  font-size: clamp(16px, calc(2.5vw + 2vh), 42px);
  position: absolute;
  top:10%;

}
.content.expanded{
  z-index: 1;
  color: #f5f1ee;
  font-size: clamp(16px, calc(2.5vw + 1.9vh), 42px);
  position: absolute;
  top:8%;
}

/* Внутренний элемент */
.inner-semi-circle {
  width: 88%;  
  height: 33%;  
  background-color: #f5f1ee;
  position: absolute;
  top: 65%;
  left: 56%;
  transform: translate(-50%, -50%);
}

.inner-semi-circle::before,
.inner-semi-circle::after {
  content: '';
  position: absolute;
  width: 12%;  
  height: 100%;
  background-color:#f5f1ee;
  border-radius: 50%;
}

.inner-semi-circle::before { left: -6.8%; top: 0; z-index: -1;}
.inner-semi-circle::after { right: -6.8%; top: 0; z-index: -1;}

.inner-semi-circle.expanded{
  width: 88%;  
  height: 22%;  
  background-color: #f5f1ee;
  position: absolute;
  top: 43%;
  left: 56%;
  transform: translate(-50%, -50%);
}


/* Ввод текста */
.input-container {
  width: 105%;
  
  position: fixed;
  top: 1%;
  left:-5%;
  z-index: 3;
}

.text-input {
  width: 39vw;
  padding: 12px 16px;
  height: 4vh;
  border: none;
  border-radius: 0;
  font-size: clamp(16px, calc(1.1vw + 1.1vh), 100px);
  color:#4e4031 ;
  outline: none;
  transition: all 0.3s ease;
  background: none;
  
  
}

.text-input:focus {
  color:#4e4031 ;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  text-decoration-color: #4e4031;
  z-index: 4;
  padding-left: 25px;}


  .hidden {
  display: none;
}

.visible {
  background: #76c9b9;
  border: calc(0.2vw + 0.2vh) solid #76c9b9;
  border-radius: 30px 30px 30px 30px;
  width: 108%;  
  height: 15%;  
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 3%;
  font-size: clamp(16px, calc(1.3vw + 1.3vh), 100px);
}

.visiblebar{
  background: #76c9b9;
  width: 200%;  
  height: clamp(16px, calc((17vw + 17vh + 15px) + 1.5vh), 1500vh);  
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 3%;
  font-size: clamp(16px, calc(1.3vw + 1.3vh), 100px);
}
.visiblebar2{
  color: #f5f1ee; 
  font-size: clamp(6px, calc(1.8vw + 1.8vh), 10000px);
  width: 42%;  
  height: clamp(1px, calc((1vw + 1vh + 15px) + 1.5vh), 1500vh); 
  position: absolute;
  top: clamp(16px, calc((9vw + 9vh + 15px) + 1.5vh), 1500vh);;
  left: 77%;
  z-index: 3;
  transform: translate(-50%, -50%);
  text-align: left;
  padding-top: 3%;
  border-color:  #f5f1ee;
}
.visiblebar3{
  color:  #f5f1ee; 
  font-size: clamp(6px, calc(1.8vw + 1.8vh), 10000px);
  width: 42%;  
  height: clamp(1px, calc((1vw + 1vh + 15px) + 1.5vh), 1500vh); 
  position: absolute;
  top: clamp(16px, calc((15vw + 15vh + 15px) + 1.5vh), 1500vh);;
  left: 77%;
  z-index: 3;
  transform: translate(-50%, -50%);
  text-align: right;
  padding-top: 3%;
  cursor: pointer;
}
.storybar{
  background: #76c9b9;
  width: 200%;  
  height: clamp(16px, calc((17vw + 17vh + 15px) + 1.5vh), 1500vh);  
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 3%;
  font-size: clamp(16px, calc(1.3vw + 1.3vh), 100px);
}
.storybar2{
  color: #f5f1ee; 
  font-size: clamp(6px, calc(1.8vw + 1.8vh), 10000px);
  width: 42%;  
  height: clamp(1px, calc((1vw + 1vh + 15px) + 1.5vh), 1500vh); 
  position: absolute;
  top: clamp(16px, calc((9vw + 9vh + 15px) + 1.5vh), 1500vh);;
  left: 77%;
  z-index: 3;
  transform: translate(-50%, -50%);
  text-align: left;
  padding-top: 3%;
  border-color:  #f5f1ee;
}
.storybar3{
  color:  #f5f1ee; 
  font-size: clamp(6px, calc(1.8vw + 1.8vh), 10000px);
  width: 42%;  
  height: clamp(1px, calc((1vw + 1vh + 15px) + 1.5vh), 1500vh); 
  position: absolute;
  top: clamp(16px, calc((15vw + 15vh + 15px) + 1.5vh), 1500vh);;
  left: 77%;
  z-index: 3;
  transform: translate(-50%, -50%);
  text-align: right;
  padding-top: 3%;
  cursor: pointer;
}

/* кнопка */
  .mainbtn {
  width: clamp(10px, calc(3vw + 3vh), 60px);
  height: center;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: none;
  position: fixed;
  right: -5%;
  top: 4%;

}

.mainbtn:hover {
  background: none;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.mainbtn:active {
  transform: scale(0.95);
}

.btnicon {
  width: clamp(16px, calc(3vw + 2vh), 60px);
  height: clamp(16px, calc(3vw + 2vh), 60px);
  object-fit: contain;
}

.infobtn{
  background: #76c9b9;
  border-radius: 50%;
  position: absolute;
  top: 15px;;
  left: 20px;
  width: clamp(16px, calc(4vw + 4vh), 60px);
  height: clamp(16px, calc(4vw + 4vh), 60px);
  border: none;
  color:#f5f1ee;
  font-size: clamp(16px, calc(2vw + 2vh), 40px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.infobtn:hover {
  background: #76c9b9;
  transform: scale(1.05);
  box-shadow: 0 6px 12px  #ea6846;
}
.mainbtn:active {
  transform: scale(0.95);
}

.storybtn{
  background: #76c9b9;
  border-radius: 50%;
  position: absolute;
  top: clamp(16px, calc((4vw + 4vh + 15px) + 1.5vh), 150vh);
  left: 20px;
  width: clamp(16px, calc(4vw + 4vh), 60px);
  height: clamp(16px, calc(4vw + 4vh), 60px);
  border: none;
  color:#f5f1ee;
  font-size: clamp(16px, calc(2vw + 2vh), 40px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.storybtn:hover {
  background: #76c9b9;
  transform: scale(1.05);
  box-shadow: 0 6px 12px  #ea6846;
}
.storyicon {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

/* Основной стиль кнопки */
.model-select-button {
  position: absolute;
  right: -2vw;
  top: 12vh;
  width: clamp(10px, calc(3vw + 3vh), 60px); 
  height: clamp(10px, calc(3vw + 3vh), 60px); 
  border-radius: 50%; 
  background-color: #ea6846; 
  border: 1px solid #71BEAA; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.2s; 
}


.model-select-button:hover {
  background-color: #71BEAA; 
}


.icon-arrow-down {
 
  width: 12px; 
  height: 12px; 
  border: solid #f5f1ee; 
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
}


.dropdown-content {
    display: none; 
    position: absolute;
    top: 70px; 
    left: 0;
    min-width: 180px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    overflow: hidden;
}
/* Контейнер для позиционирования */
.model-dropdown-container {
    position: relative; 
    display: inline-block;
}


.dropdown-content a {
    color: #333; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-family: sans-serif; 
    transition: background-color 0.2s;
}

/* Стиль при наведении на пункт списка */
.dropdown-content a:hover {
    background-color: #FFFFFF;
    color:#ea6846;
}

/* Класс для показа списка */
.show {
    display: block;
}


.regrect {
  width: 50%;
  height: 40%;
  background-color: #ea6846;
  border-radius: 70px;
  top:35%;
  left: 25%;
  position: fixed;
  display: flex;
  align-items: top;
  justify-content: top;
  color: #f5f1ee;
  justify-content: center;
}

.regstr{
  z-index: 1;
  color: #f5f1ee;
  font-size: clamp(16px, calc(2.5vw + 2vh), 42px);
  position: absolute;
  top:5%;
  text-align: center;
  width: 100%; 
}

.nameinput {
  width: 39vw;
  padding: 12px 16px;
  height: 4vh;
  border: none;
  border-radius: 0;
  font-size: clamp(16px, calc(1.1vw + 1.1vh), 100px);
  color:#4e4031 ;
  outline: none;
  background: #f5f1ee;
  border-radius: 70px;
  position: absolute;
  top: 12vh;
  align: center;
}

.nameinput:focus {
  color:#4e4031 ;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  text-decoration-color: #4e4031;
  z-index: 4;
  padding-left: 25px;}

  .pasinput {
  width: 39vw;
  padding: 12px 16px;
  height: 4vh;
  border: none;
  border-radius: 0;
  font-size: clamp(16px, calc(1.1vw + 1.1vh), 100px);
  color:#4e4031 ;
  outline: none;
  background: #f5f1ee;
  border-radius: 70px;
  position: absolute;
  top: 23vh;
  align: center;
}

.pasinput:focus {
  color:#4e4031 ;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  text-decoration-color: #4e4031;
  z-index: 4;
  padding-left: 25px;}

.reg{
  position: absolute;
  align: center;
  top: 83%;
  color: #f5f1ee;
  font-size: clamp(16px, calc(1.5vw + 1.5vh), 1000px);
}
.vhod{
  position: absolute;
  align: center;
  top: 105%;
  color: #71BEAA;
  font-size: clamp(16px, calc(1.5vw + 1.5vh), 1000px);
}
.vhod:hover{
  position: absolute;
  align: center;
  top: 105%;
  color: #ea6846;
  font-size: clamp(16px, calc(1.5vw + 1.5vh), 1000px);
}

.images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      padding: 40px 20px;
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 30vh; 
    }

      .imageus {
        flex: 0 0 auto;
        width: 30vh;
        background: #71BEAA;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column; /* Подпись будет под картинкой */
      }

      

      .imageus img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .podp {
        padding: 3px;
        text-align: center;
        background:none;
        font-size: clamp(16px, calc(1vw + 1vh), 100px);
        font-weight: 500;
        color: #f5f1ee;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        line-height: 1.4;
      }

      